*{
    color: red;
}

h1{
    color: yellow;
    /* *seletor geral*/
}

p {
    color: blue;
}

#paragrafo1 {
    color: purple;
}

#paragrafo2 {
    color: brown;
}

.grupo1 {
    font-size: large;
}

.titulos {
    color: rgb(70, 4, 15);
}
/*titulo 3, paragrados 3-2 4-1 5-2 verde */
.texto-verde {
    color: green;
}
/*font-size: x-large paragrafos 3-1 3-2 4-1 título 5*/
.xlarge{
    font-size: x-large;
}


/* h2.titulos{
    color: green;
 }
 .grupo2{
    color: red;
 }*/